{% extends "base.html" %}

{% block title %}
Restaurants
{% endblock %}

{% block content %}

<section class="max-w-7xl mx-auto px-6 py-12">

    <div class="flex justify-between items-center mb-10">

        <div>

            <h1 class="text-4xl font-bold text-lime-800">

                Restaurants

            </h1>

            <p class="text-gray-600 mt-2">

                Manage all restaurants

            </p>

        </div>

        <a
            href="{% url 'restaurant_add' %}"
            class="bg-lime-700 hover:bg-lime-800 text-white px-6 py-3 rounded-xl shadow">

            + Add Restaurant

        </a>

    </div>

    {% if restaurants %}

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">

        {% for restaurant in restaurants %}

        <div class="bg-white rounded-2xl shadow hover:shadow-xl duration-300 overflow-hidden">

            {% if restaurant.image %}

            <img
                src="{{ restaurant.image.url }}"
                class="w-full h-56 object-cover">

            {% else %}

            <div class="h-56 bg-lime-100 flex items-center justify-center">

                <span class="text-6xl">

                    🍽️

                </span>

            </div>

            {% endif %}

            <div class="p-6">

                <h2 class="text-2xl font-bold text-lime-800">

                    {{ restaurant.name }}

                </h2>

                <p class="text-gray-500 mt-2">

                    {{ restaurant.address }}

                </p>

                <p class="text-gray-600 mt-3">

                    {{ restaurant.phone }}

                </p>

                <div class="flex gap-3 mt-6">

                    <a
                        href="{% url 'restaurant_edit' restaurant.id %}"
                        class="flex-1 text-center bg-blue-500 hover:bg-blue-600 text-white py-2 rounded-lg">

                        Edit

                    </a>

                    <a
                        href="{% url 'restaurant_delete' restaurant.id %}"
                        class="flex-1 text-center bg-red-500 hover:bg-red-600 text-white py-2 rounded-lg">

                        Delete

                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

    {% else %}

    <div class="bg-white rounded-2xl shadow p-20 text-center">

        <div class="text-8xl">

            🍽️

        </div>

        <h2 class="text-3xl font-bold text-lime-800 mt-6">

            No Restaurants Found

        </h2>

        <p class="text-gray-500 mt-3">

            Click below to create your first restaurant.

        </p>

        <a
            href="{% url 'restaurant_add' %}"
            class="inline-block mt-8 bg-lime-700 hover:bg-lime-800 text-white px-8 py-3 rounded-xl">

            Add Restaurant

        </a>

    </div>

    {% endif %}

</section>

{% endblock %}