{% extends "base.html" %}



{% block title %}

{{ restaurant.name }} Menu

{% endblock %}




{% block content %}



<div class="max-w-7xl mx-auto px-6 py-10">


<div class="text-center mb-10">


<h1 class="text-4xl font-bold text-lime-800">

{{ restaurant.name }}

</h1>


<p class="text-gray-600 mt-3">

{{ restaurant.description }}

</p>


</div>




<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">



{% for food in foods %}



<div class="bg-white rounded-2xl shadow-lg overflow-hidden">



{% if food.image %}


<img src="{{ food.image.url }}"
class="w-full h-56 object-cover">


{% else %}


<div class="h-56 bg-lime-100 flex items-center justify-center text-6xl">

🍔

</div>


{% endif %}





<div class="p-6">


<h2 class="text-2xl font-bold">

{{ food.name }}

</h2>



<p class="text-gray-600 mt-2">

{{ food.description }}

</p>



<p class="text-xl font-bold text-lime-700 mt-3">

₹ {{ food.price }}

</p>




<a href="{% url 'add_to_cart' food.id %}"

class="inline-block mt-5
bg-lime-600 hover:bg-lime-700
text-white px-5 py-2 rounded-lg">


Add To Cart


</a>



</div>


</div>



{% empty %}


<div class="col-span-3 text-center text-gray-500 text-xl">

No Food Items Added Yet

</div>



{% endfor %}



</div>



<a href="{% url 'restaurant_list' %}"

class="inline-block mt-10
bg-gray-700 text-white
px-6 py-3 rounded-xl">


← Back Restaurants


</a>



</div>


{% endblock %}