<div class="mb-6">

    <label
        for="{{ field.id_for_label }}"
        class="block mb-2 text-sm font-semibold text-lime-900">

        {{ field.label }}

        {% if field.field.required %}
            <span class="text-red-500">*</span>
        {% endif %}

    </label>

    {{ field }}

    {% if field.help_text %}

        <p class="mt-1 text-sm text-gray-500">

            {{ field.help_text }}

        </p>

    {% endif %}

    {% if field.errors %}

        {% for error in field.errors %}

            <p class="mt-2 text-sm text-red-600 font-medium">

                {{ error }}

            </p>

        {% endfor %}

    {% endif %}

</div>